<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">الاكثر استخداما</h2>
                        <ul>
                            <li>
                                <a href="/">الرئيسيه</a>
                            </li>
                            <li>
                                <a href="/find-help">المساعده الطبيه</a>
                            </li>
                            <li>
                                <a href="/about-us">معلومات عنا</a>
                            </li>
                            <li>
                                <a href="/blog-list">المدونه</a>
                            </li>
                            <li>
                                <a href="/contact-us">اتصل بنا</a>
                            </li>
                            <li>
                                <a href="/report">تقرير حاله</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">تواصل معانا</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p>
                                    معهد الحاسب الالي الكينج مريوط
                                    <br />
                                    الاسكندريه, مصر
                                </p>
                            </div>
                            <p>
                                <i class="fas fa-mobile-alt"></i>
                                <bdi>+1 123 456 789</bdi>
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-envelope"></i>
                                info@mail.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="/img/footer-logo.png" alt="logo" />
                        </div>
                        <div class="footer-about-content">
                            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; جميع الحقوق محفوظه من اجل مشاريع التخريج بالكينج مريوط</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
